In [64]:
import numpy as np 
import pandas as pd

In [65]:
df1 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_50_Historical_Data.csv')
df2 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_Bank_Historical_Data.csv')
df3 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_FMCG_Historical_Data.csv')
df4 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_IT_Historical_Data.csv')
df5 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_Media_Historical_Data.csv')
df6 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_Midcap_Historical_Data.csv')
df7 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_Pharma_Historical_Data.csv')
df8 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_PSU_Historical_Data.csv')
df9 = pd.read_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_Smallcap_Historical_Data.csv')

In [66]:
df1 = df1.rename(columns={'Price':'Price_Nifty50', 'Open':'Open_Nifty50', 'High':'High_Nifty50', 'Low':'Low_Nifty50', 'Vol.':'Vol_Nifty50', 'Change %':'Change_Nifty50'})
df2 = df2.rename(columns={'Price':'Price_NiftyBank', 'Open':'Open_NiftyBank', 'High':'High_NiftyBank', 'Low':'Low_NiftyBank', 'Vol.':'Vol_NiftyBank', 'Change %':'Change_NiftyBank'})
df3 = df3.rename(columns={'Price':'Price_NiftyFMCG', 'Open':'Open_NiftyFMCG', 'High':'High_NiftyFMCG', 'Low':'Low_NiftyFMCG', 'Vol.':'Vol_NiftyFMCG', 'Change %':'Change_NiftyFMCG'})
df4 = df4.rename(columns={'Price':'Price_NiftyIT', 'Open':'Open_NiftyIT', 'High':'High_NiftyIT', 'Low':'Low_NiftyIT', 'Vol.':'Vol_NiftyIT', 'Change %':'Change_NiftyIT'})
df5 = df5.rename(columns={'Price':'Price_NiftyMedia', 'Open':'Open_NiftyMedia', 'High':'High_NiftyMedia', 'Low':'Low_NiftyMedia', 'Vol.':'Vol_NiftyMedia', 'Change %':'Change_NiftyMedia'})
df6 = df6.rename(columns={'Price':'Price_NiftyMidcap', 'Open':'Open_NiftyMidcap', 'High':'High_NiftyMidcap', 'Low':'Low_NiftyMidcap', 'Vol.':'Vol_NiftyMidcap', 'Change %':'Change_NiftyMidcap'})
df7 = df7.rename(columns={'Price':'Price_NiftyPharma', 'Open':'Open_NiftyPharma', 'High':'High_NiftyPharma', 'Low':'Low_NiftyPharma', 'Vol.':'Vol_NiftyPharma', 'Change %':'Change_NiftyPharma'})
df8 = df8.rename(columns={'Price':'Price_NiftyPSU', 'Open':'Open_NiftyPSU', 'High':'High_NiftyPSU', 'Low':'Low_NiftyPSU', 'Vol.':'Vol_NiftyPSU', 'Change %':'Change_NiftyPSU'})
df9 = df9.rename(columns={'Price':'Price_NiftySmallcap', 'Open':'Open_NiftySmallcap', 'High':'High_NiftySmallcap', 'Low':'Low_NiftySmallcap', 'Vol.':'Vol_NiftySmallcap', 'Change %':'Change_NiftySmallcap'})

In [67]:
import pandas as pd

# Function to convert vol strings to integers
def convert_vol_to_int(vol_str):
    if pd.isna(vol_str):
        return 1_000_000  # Default to 1M if NaN
    elif isinstance(vol_str, str) and 'M' in vol_str:
        return int(float(vol_str.replace('M', '')) * 1_000_000)
    elif isinstance(vol_str, str) and 'B' in vol_str:
        return int(float(vol_str.replace('B', '')) * 1_000_000_000)
    else:
        try:
            return int(vol_str)  # For values that are directly numbers
        except ValueError:
            return 1_000_000  # Default if something unexpected occurs
dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9]
# Loop through each DataFrame in dfs and apply the conversion
for df in dfs:
    for col in ['Vol_Nifty50', 'Vol_NiftyBank', 'Vol_NiftyFMCG', 'Vol_NiftyIT', 'Vol_NiftyMedia', 'Vol_NiftyMidcap', 'Vol_NiftyPharma', 'Vol_NiftyPSU', 'Vol_NiftySmallcap']:
        if col in df.columns:  # Check if the column exists in the DataFrame
            df[col] = df[col].apply(convert_vol_to_int)

In [68]:
print(df1['Date'].head())
print(df2['Date'].head())
print(df3['Date'].head())
print(df4['Date'].head())
print(df5['Date'].head())
print(df6['Date'].head())
print(df7['Date'].head())
print(df8['Date'].head())
print(df9['Date'].head())

0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object
0    04-06-2023
1    11-06-2023
2    25-06-2023
3    02-07-2023
4    09-07-2023
Name: Date, dtype: object

In [69]:
# Start with df1 as the base DataFrame
final_df = df1

# List of DataFrames excluding df1 (since it's already in final_df)
dfs = [df2, df3, df4, df5, df6, df7, df8, df9]

# Loop through each DataFrame in dfs and merge with final_df
for i in range(0, len(dfs)):
    final_df = pd.merge(final_df, dfs[i], on='Date', how='inner')

In [70]:
print(len(final_df.columns))
print(final_df.shape)
print(final_df.columns.values)

55
(63, 55)
['Date' 'Price_Nifty50' 'Open_Nifty50' 'High_Nifty50' 'Low_Nifty50'
 'Vol_Nifty50' 'Change_Nifty50' 'Price_NiftyBank' 'Open_NiftyBank'
 'High_NiftyBank' 'Low_NiftyBank' 'Vol_NiftyBank' 'Change_NiftyBank'
 'Price_NiftyFMCG' 'Open_NiftyFMCG' 'High_NiftyFMCG' 'Low_NiftyFMCG'
 'Vol_NiftyFMCG' 'Change_NiftyFMCG' 'Price_NiftyIT' 'Open_NiftyIT'
 'High_NiftyIT' 'Low_NiftyIT' 'Vol_NiftyIT' 'Change_NiftyIT'
 'Price_NiftyMedia' 'Open_NiftyMedia' 'High_NiftyMedia' 'Low_NiftyMedia'
 'Vol_NiftyMedia' 'Change_NiftyMedia' 'Price_NiftyMidcap'
 'Open_NiftyMidcap' 'High_NiftyMidcap' 'Low_NiftyMidcap' 'Vol_NiftyMidcap'
 'Change_NiftyMidcap' 'Price_NiftyPharma' 'Open_NiftyPharma'
 'High_NiftyPharma' 'Low_NiftyPharma' 'Vol_NiftyPharma'
 'Change_NiftyPharma' 'Price_NiftyPSU' 'Open_NiftyPSU' 'High_NiftyPSU'
 'Low_NiftyPSU' 'Vol_NiftyPSU' 'Change_NiftyPSU' 'Price_NiftySmallcap'
 'Open_NiftySmallcap' 'High_NiftySmallcap' 'Low_NiftySmallcap'
 'Vol_NiftySmallcap' 'Change_NiftySmallcap']

In [71]:
print(final_df.head())
print(final_df.tail())

         Date Price_Nifty50 Open_Nifty50 High_Nifty50 Low_Nifty50  \
0  04-06-2023     18,563.40    18,612.00    18,777.90   18,531.60
1  11-06-2023     18,826.00    18,595.05    18,864.70   18,559.75
2  25-06-2023     19,189.05    18,682.35    19,201.70   18,646.70
3  02-07-2023     19,331.80    19,246.50    19,523.60   19,234.40
4  09-07-2023     19,564.50    19,400.35    19,595.35   19,327.10

   Vol_Nifty50 Change_Nifty50 Price_NiftyBank Open_NiftyBank High_NiftyBank  \
0   1250000000          0.16%       43,989.00      44,103.25      44,459.25
1   1210000000          1.41%       43,938.15      44,035.20      44,212.35
2   1040000000          2.80%       44,747.35      43,714.75      44,787.10
3   1180000000          0.74%       44,925.00      44,957.95      45,655.50
4   1450000000          1.20%       44,819.30      44,958.65      45,184.30

   ... High_NiftyPSU  Low_NiftyPSU Vol_NiftyPSU Change_NiftyPSU  \
0  ...      4,126.35      4,026.50    491200000          -1.41%
1  ...      4,082.20      3,976.65    509620000           0.15%
2  ...      4,114.95      3,962.30    466970000           2.95%
3  ...      4,486.15      4,126.35   1750000000           8.49%
4  ...      4,522.40      4,331.60   1090000000          -1.54%

  Price_NiftySmallcap Open_NiftySmallcap High_NiftySmallcap  \
0           10,164.25          10,102.80          10,277.85
1           10,450.10          10,205.20          10,478.00
2           10,544.20          10,357.75          10,559.35
3           10,777.35          10,604.45          10,847.70
4           10,962.95          10,820.00          10,977.55

   Low_NiftySmallcap Vol_NiftySmallcap Change_NiftySmallcap
0          10,063.95           1000000                1.20%
1          10,175.10           1000000                2.81%
2          10,330.70           1000000                1.92%
3          10,604.00           1000000                2.21%
4          10,728.90           1000000                1.72%

[5 rows x 55 columns]
          Date Price_Nifty50 Open_Nifty50 High_Nifty50 Low_Nifty50  \
58  28-07-2024     24,717.70    24,943.30    25,078.30   24,686.85
59  04-08-2024     24,367.50    24,302.85    24,419.75   23,893.70
60  11-08-2024     24,541.15    24,320.05    24,563.90   24,099.70
61  18-08-2024     24,823.15    24,636.35    24,867.35   24,522.95
62  25-08-2024     25,235.90    24,906.10    25,268.35   24,874.70

    Vol_Nifty50 Change_Nifty50 Price_NiftyBank Open_NiftyBank High_NiftyBank  \
58   1850000000         -0.47%       51,350.15      51,546.65      52,340.25
59   1640000000         -1.42%       50,484.50      50,586.25      50,747.55
60   1090000000          0.71%       50,516.90      50,412.60      50,830.70
61   1170000000          1.15%       50,933.45      50,683.55      51,117.85
62   1650000000          1.66%       51,351.00      51,100.65      51,466.55

    ... High_NiftyPSU  Low_NiftyPSU Vol_NiftyPSU Change_NiftyPSU  \
58  ...      7,542.55      7,154.75   1050000000          -1.01%
59  ...      7,057.50      6,795.15    886630000          -2.82%
60  ...      6,982.55      6,754.90    449480000          -2.15%
61  ...      7,082.90      6,877.35    517390000           2.54%
62  ...      7,053.50      6,910.65    455420000          -0.45%

   Price_NiftySmallcap Open_NiftySmallcap High_NiftySmallcap  \
58           17,677.65          17,790.90          18,049.80
59           17,335.90          17,193.70          17,432.40
60           17,371.40          17,308.70          17,490.65
61           18,006.55          17,497.70          18,096.05
62           18,170.25          18,129.00          18,316.25

    Low_NiftySmallcap Vol_NiftySmallcap Change_NiftySmallcap
58          17,551.25           1000000                0.17%
59          16,839.10           1000000               -1.93%
60          16,969.65           1000000                0.20%
61          17,484.50           1000000                3.66%
62          18,005.90           1000000                0.91%

[5 rows x 55 columns]

In [72]:
print(final_df.isnull().sum())

Date                    0
Price_Nifty50           0
Open_Nifty50            0
High_Nifty50            0
Low_Nifty50             0
Vol_Nifty50             0
Change_Nifty50          0
Price_NiftyBank         0
Open_NiftyBank          0
High_NiftyBank          0
Low_NiftyBank           0
Vol_NiftyBank           0
Change_NiftyBank        0
Price_NiftyFMCG         0
Open_NiftyFMCG          0
High_NiftyFMCG          0
Low_NiftyFMCG           0
Vol_NiftyFMCG           0
Change_NiftyFMCG        0
Price_NiftyIT           0
Open_NiftyIT            0
High_NiftyIT            0
Low_NiftyIT             0
Vol_NiftyIT             0
Change_NiftyIT          0
Price_NiftyMedia        0
Open_NiftyMedia         0
High_NiftyMedia         0
Low_NiftyMedia          0
Vol_NiftyMedia          0
Change_NiftyMedia       0
Price_NiftyMidcap       0
Open_NiftyMidcap        0
High_NiftyMidcap        0
Low_NiftyMidcap         0
Vol_NiftyMidcap         0
Change_NiftyMidcap      0
Price_NiftyPharma       0
Open_NiftyPharma        0
High_NiftyPharma        0
Low_NiftyPharma         0
Vol_NiftyPharma         0
Change_NiftyPharma      0
Price_NiftyPSU          0
Open_NiftyPSU           0
High_NiftyPSU           0
Low_NiftyPSU            0
Vol_NiftyPSU            0
Change_NiftyPSU         0
Price_NiftySmallcap     0
Open_NiftySmallcap      0
High_NiftySmallcap      0
Low_NiftySmallcap       0
Vol_NiftySmallcap       0
Change_NiftySmallcap    0
dtype: int64

In [73]:
final_df.to_csv(r'C:\Users\Sachit\Documents\Symbiosis\Fourth Year\ProjectFinalYear\scripts\data\Nifty_All_Historical_Data.csv', index=False)